# Project Requirements

# Core Libraries
numpy==1.24.3
matplotlib==3.7.1
opencv-python==4.8.0.76
opencv-contrib-python==4.8.0.76

# Machine Learning Libraries
tensorflow==2.12.0
keras==2.12.0

# Web User Interface Libraries
flask==2.3.2
werkzeug==2.3.6
jinja2==3.1.2

# Report Generation Libraries
fpdf==1.7.2
pandas==2.0.3
seaborn==0.12.2

# Helper Libraries
tqdm==4.65.0
pillow==10.0.0
